.scroll-layout-main {}

.scroll-layout-sidebar {
    transition: all 1s cubic-bezier(.19, 1, .22, 1);
    z-index: 700;
    max-width: 480px;
}

@media (max-width: 640px) {
    .scroll-layout-sidebar {
        /* background: white; */
        height: 100%;
    }

    .scroll-layout-sidebar-close {
        transform: translateX(-100%);
    }

    .scroll-layout-sidebar-active {
        transform: translateX(0);
    }
}

/* @media (min-width: 640px) {
    .scroll-layout-sidebar::before {
        z-index: -30;
        content: " ";
        position: absolute;
        top: 0;
        left: -100%;
        right: 0;
        height: 500px;
        background: linear-gradient(white, rgba(255, 255, 255, 0));
    }

    .scroll-layout-main::before {

        z-index: 0;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: -100%;
        height: 100%;
        background-color: #fff;
    }
} */