.scroll-snap-x-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.scroll-snap-x-child {
    scroll-snap-align: center;

}

.scroll-snap-x-container-start {
    scroll-padding: 16px
}

.scroll-snap-x-child-start {
    scroll-snap-align: start;

}

@media (max-width: 640px) {
    .scroll-snap-x-container {
        display: flex;
    }
}


.scroll-snap-x-child-w-1 {
    width: calc(100% - 50px);
    min-width: calc(100% - 50px);
    margin-right: 0px;
    margin-left: 16px;
}