    /*
    Flaticon icon font: Flaticon
    Creation date: 23/03/2020 10:32
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
      display: inline-block;
      font-family: "Flaticon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }

    .flaticon-group:before { content: "\f100"; }
.flaticon-conference:before { content: "\f101"; }
.flaticon-bookmark:before { content: "\f102"; }
.flaticon-bookmark-1:before { content: "\f103"; }
.flaticon-internet:before { content: "\f104"; }
.flaticon-newborn:before { content: "\f105"; }
.flaticon-baby-boy:before { content: "\f106"; }
.flaticon-hourglass:before { content: "\f107"; }
.flaticon-theatre:before { content: "\f108"; }
.flaticon-plant:before { content: "\f109"; }
.flaticon-earth:before { content: "\f10a"; }
.flaticon-heart:before { content: "\f10b"; }
.flaticon-heart-1:before { content: "\f10c"; }
.flaticon-home:before { content: "\f10d"; }
.flaticon-settings:before { content: "\f10e"; }
.flaticon-loupe:before { content: "\f10f"; }
.flaticon-filter:before { content: "\f110"; }
.flaticon-email:before { content: "\f111"; }
.flaticon-email-1:before { content: "\f112"; }
.flaticon-visibility:before { content: "\f113"; }
.flaticon-newspaper:before { content: "\f114"; }
.flaticon-microphone:before { content: "\f115"; }
.flaticon-cancel:before { content: "\f116"; }
.flaticon-next:before { content: "\f117"; }
.flaticon-left-arrow:before { content: "\f118"; }
.flaticon-like:before { content: "\f119"; }
.flaticon-more:before { content: "\f11a"; }
.flaticon-share:before { content: "\f11b"; }
.flaticon-global:before { content: "\f11c"; }
.flaticon-hourglass-1:before { content: "\f11d"; }
.flaticon-star:before { content: "\f11e"; }
.flaticon-download:before { content: "\f11f"; }
.flaticon-chat:before { content: "\f120"; }
.flaticon-upload:before { content: "\f121"; }
.flaticon-down-arrow:before { content: "\f122"; }
.flaticon-right-arrow:before { content: "\f123"; }
.flaticon-up-arrow:before { content: "\f124"; }
.flaticon-left-arrow-1:before { content: "\f125"; }
.flaticon-up-arrow-1:before { content: "\f126"; }
.flaticon-down-arrow-1:before { content: "\f127"; }
.flaticon-treble-clef:before { content: "\f128"; }
.flaticon-film-strip:before { content: "\f129"; }
.flaticon-bookmark-2:before { content: "\f12a"; }
.flaticon-photo-camera:before { content: "\f12b"; }
.flaticon-book:before { content: "\f12c"; }
.flaticon-chain:before { content: "\f12d"; }
.flaticon-file:before { content: "\f12e"; }
.flaticon-heart-2:before { content: "\f12f"; }
.flaticon-yin-yang:before { content: "\f130"; }
.flaticon-paint-palette:before { content: "\f131"; }
.flaticon-menu:before { content: "\f132"; }

    $font-Flaticon-group: "\f100";
    $font-Flaticon-conference: "\f101";
    $font-Flaticon-bookmark: "\f102";
    $font-Flaticon-bookmark-1: "\f103";
    $font-Flaticon-internet: "\f104";
    $font-Flaticon-newborn: "\f105";
    $font-Flaticon-baby-boy: "\f106";
    $font-Flaticon-hourglass: "\f107";
    $font-Flaticon-theatre: "\f108";
    $font-Flaticon-plant: "\f109";
    $font-Flaticon-earth: "\f10a";
    $font-Flaticon-heart: "\f10b";
    $font-Flaticon-heart-1: "\f10c";
    $font-Flaticon-home: "\f10d";
    $font-Flaticon-settings: "\f10e";
    $font-Flaticon-loupe: "\f10f";
    $font-Flaticon-filter: "\f110";
    $font-Flaticon-email: "\f111";
    $font-Flaticon-email-1: "\f112";
    $font-Flaticon-visibility: "\f113";
    $font-Flaticon-newspaper: "\f114";
    $font-Flaticon-microphone: "\f115";
    $font-Flaticon-cancel: "\f116";
    $font-Flaticon-next: "\f117";
    $font-Flaticon-left-arrow: "\f118";
    $font-Flaticon-like: "\f119";
    $font-Flaticon-more: "\f11a";
    $font-Flaticon-share: "\f11b";
    $font-Flaticon-global: "\f11c";
    $font-Flaticon-hourglass-1: "\f11d";
    $font-Flaticon-star: "\f11e";
    $font-Flaticon-download: "\f11f";
    $font-Flaticon-chat: "\f120";
    $font-Flaticon-upload: "\f121";
    $font-Flaticon-down-arrow: "\f122";
    $font-Flaticon-right-arrow: "\f123";
    $font-Flaticon-up-arrow: "\f124";
    $font-Flaticon-left-arrow-1: "\f125";
    $font-Flaticon-up-arrow-1: "\f126";
    $font-Flaticon-down-arrow-1: "\f127";
    $font-Flaticon-treble-clef: "\f128";
    $font-Flaticon-film-strip: "\f129";
    $font-Flaticon-bookmark-2: "\f12a";
    $font-Flaticon-photo-camera: "\f12b";
    $font-Flaticon-book: "\f12c";
    $font-Flaticon-chain: "\f12d";
    $font-Flaticon-file: "\f12e";
    $font-Flaticon-heart-2: "\f12f";
    $font-Flaticon-yin-yang: "\f130";
    $font-Flaticon-paint-palette: "\f131";
    $font-Flaticon-menu: "\f132";