.latest-cards .card {
    transition: all 0.7s;
}

.current-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(0.96);
    transform-origin: center left;
    z-index: 15;


}

.next-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(0.86) translateX(14%);
    transform-origin: center left;
    z-index: 14;
    /*     @apply bg-gray-100; */
}

.prev-card {
    transform: scale(0.8) translateX(24%);
    transform-origin: center left;
    z-index: 13;
    /*     @apply bg-gray-300; */
}

.card-stack-exit,
.card-stack-enter {
    transform: scale(1) translateX(-200%) !important;
}

.card-stack-exit-active {
    position: absolute;
}