.left-vert {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.left-vert-img {
    grid-area: 1 / 1 / 2 / 2;
}

.left-vert-content {
    grid-area: 1 / 2 / 2 / 3;
}

@media (min-width: 1024px) {

    .left-vert {

        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

}