:root {
    --height: 30rem;
    --height-10: 2.2rem;
    --height-50: 15rem;
    --height-70: 13rem;
    --height-80: 20rem;
}

@media (min-width: 640px) {
    :root {
        --height-70: 16rem;
        --height-80: 24rem;
    }
}

@media (min-width: 768px) {
    :root {
        --height-70: 20rem;
    }
}

@media (min-width: 1024px) {
    :root {
        --height: 26.4rem;
        --height-10: 2.2rem;
        --height-50: 12.2rem;
        --height-70: 24rem;
        --height-80: 24rem;
    }
}

.scroll-x-snap {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.scroll-x-snap-child {
    scroll-snap-align: center;
}



.grid-h .div-content {
    height: var(--height)
}

.grid-h70 .div-content {
    height: var(--height-70);
}

.grid-h80 .div-content {
    height: var(--height-80);
}