.share-this-popover {
    left: 50%;
}

.share-this-popover::before {
    border-color: #606F94 transparent;
}

.share-this-popover>ul {
    z-index: 100;
    background: #606F94;
    color: #fff;
    margin: -0.7em 0 0;
    padding: 0.75rem 0.6rem;
}