.slide-up {
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    max-height: 0;
}

.slide-up-active {
    /*     display: block; */
    max-height: 1000px;

}

.slide-up-close {
    /*     display: none; */
    max-height: 0;
}

.accordion-arrow-icon {
    transform: rotate(0deg);
    transition: .5s transform;
}

.accordion-arrow-icon-open {
    transform: rotate(-180deg);
}